In [1]:
import pandas as pd

### URL of the Website

In [2]:
url = "https://www.amarstock.com/latest-share-price"

### Read Tables from the website

In [3]:
tables = pd.read_html(url)

### Display Available Table

In [4]:
print(f"Number of tables found: {len(tables)}")

Number of tables found: 1

### Select the appropriate table

In [6]:
# Change the index if needed
df = tables[0]

In [7]:
df.head()

,Trading code,LTP,Change %,High,Low,Close,YCP,Change,Trade,Value,Volume
0,1JANATAMF,3.2,3.23,3.2,3.1,3.2,3.1,0.1,22,0.17,55236
1,1STPRIMFMF,20.3,-0.49,20.7,20.3,20.3,20.4,-0.1,226,3.61,176162
2,AAMRANET,23.9,-0.42,24.4,23.9,23.9,24.0,-0.1,237,3.72,154690
3,AAMRATECH,15.3,-1.29,15.9,15.2,15.3,15.5,-0.2,79,0.80,52184
4,ABB1STMF,3.2,0.00,3.2,3.2,3.2,3.2,0.0,4,0.05,14350

### Save to CSV for further analysis

In [9]:
df.to_csv("Dhaka_stock_market-3-4-2025.csv", index=False)

In [10]:
df.head()

,Trading code,LTP,Change %,High,Low,Close,YCP,Change,Trade,Value,Volume
0,1JANATAMF,3.2,3.23,3.2,3.1,3.2,3.1,0.1,22,0.17,55236
1,1STPRIMFMF,20.3,-0.49,20.7,20.3,20.3,20.4,-0.1,226,3.61,176162
2,AAMRANET,23.9,-0.42,24.4,23.9,23.9,24.0,-0.1,237,3.72,154690
3,AAMRATECH,15.3,-1.29,15.9,15.2,15.3,15.5,-0.2,79,0.80,52184
4,ABB1STMF,3.2,0.00,3.2,3.2,3.2,3.2,0.0,4,0.05,14350